ENV="dev"
ALLOWED_ORIGINS="http://localhost:5173, http://localhost:3000, http://localhost:8081, http://localhost:54321"

SUPABASE_URL="http://localhost:54321"
SUPABASE_PUBLISHABLE_KEY="our_key_here"
SUPABASE_SECRET_KEY="our_key_here"
KONG_URL="http://localhost:54321"
LISELI_AZURE_BLOB_CONNECTION="..."
